<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--01   配置开启注解扫描-->
    <context:component-scan base-package="com.tz.leo.spring"></context:component-scan>

    <!--02 创建数据源对象 dataSource-->
    <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/ssm" />
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>
    <!--03 创建sqlSessionFactory -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:/com/tz/leo/spring/mapper/*.xml"/> <!-- 注意此处*.xml-->
        <property name="typeAliasesPackage" value="com.tz.leo.spring.entity"></property>  <!--注意此处是entity，不是dao -->
    </bean>
    <!--04  创建DAO对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="com.tz.leo.spring.dao"></property>
    </bean>
    <!--05 创建事务管理器对象 -->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource"  ref="dataSource"></property>
    </bean>
    <!--06 开启注解事务驱动-->
    <tx:annotation-driven transaction-manager="transactionManager" ></tx:annotation-driven>


</beans>